*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    color:rgb(151, 147, 147);
    list-style: none;
}
body{
    height: 100%;
    width: 100%;
}
select{
    appearance: none;
    -moz-appearance: none;
    -webkit-appearance: none;
}
nav{
    width: 100%;
    height: 55px;
    line-height: 55px;
    background-color: #2289BF;
    position: fixed;
    min-width: 700px;
}
nav div:nth-child(1){
    float: left;
    margin-left: 40px;
    margin-top: 10px;
}
nav div:nth-child(2){
    float: right;
    margin-right: 200px;
}
nav div input{
    width: 273px;
    height: 28px;
    border-radius: 14px;
    padding-left: 40px;
    background: #fff url(imags/search.png) no-repeat 13px 5px;
    line-height: 28px;
    outline:none;
}
.navright a{
    margin-left: 20px;
    padding-left: 20px;
    color: #fff;
    font-size: 12px;
    background: url(imags/login.png) no-repeat 0 0;
}
/* 左页面 */
.leftpage{
    position: fixed;
    margin-top: 55px;
    width: 260px;
    height: 100%;
    font-family: "黑体";
    background-color: #2B2F3D;
}
.account{
    height: 140px;
    border-bottom: 1px solid #323747;
}

.name{
    margin-left: 50px;
    margin-top: 20px;
}
.name a{
    color: #fff;
}
.name a span{
    top:40px;
    left:120px;
    position: absolute;
}

.account_date>div{
    width: 90px;
    display: inline-block;
    position: absolute;
    top:100px;
    color: #67778b;
    text-align: center;
}
.account_date div:first-child{
    left: 45px;
    border-right: 1px solid #323747;
}
.account_date div:last-child{
    left:135px;
}
.account_date div p:last-child{
    font-size: 12px;
}
.list{
    color: #67778b;
}
.list li{
    height: 40px;
    line-height: 40px;
    padding-left: 40px;
    font-size: 14px;
}
.list li:hover {
    background: #383E4E;
}
/* 右页面开始 */
.rightpage{
    width:100%;
    height: 1000px;
    background-color: #EEEEED;
}
.rightpage header{
    height: 85px;
    padding-top: 55px;
    line-height: 30px;
    padding-left: 280px;
    font-size: 13px;
    background-color: white;
}
.rightpage header a{
    margin-left: 10px;
    margin-right: 10px;
    color: #A7A7A7;
}
.rightpage header a:last-child{
    color: #6C90AF;
}
.data{
    padding-top: 15px;
    padding-left: 320px;
    width: 100%;
    height: 1000px;
}
.data_top_1{
    width: 900px;
    height: 87px;
    padding: 15px;
    background-color: white;
    border: 1px solid rgb(207, 207, 207);
}
.data_top_1 form{
    font-size: 13px;
}
.data_top_1 select{
    height: 25px;
    color: black;
}
.form_group{
    margin-bottom: 5px;
}
.data_top_1 form>div:first-child{
    float: left;
    padding-left: 30px;
    width:170px;
}
.data_top_1 form>div:first-child select{
    width: 70px;
}
.data_top_1 form>div:nth-child(2){
    position: relative;
    float: left;
    width: 185px;
}
.search2 select{
    width: 120px;
}
.search2 a{
    position: absolute;
    right: 0;
    top: 5px;
    width: 30px;
    height: 43px;
    background: url(imags/change.png) center center no-repeat;
}
.search3{
    
    margin-left: 40px;
    float: left;
}
.search3 input{
    color: black;
    text-indent: 0.6em;
    margin-right: 20px;
    width: 120px;
    height: 25px;
}
.search3 select{
    width: 70px;
}
.search4{
    margin-left: 40px;
    float: left;
}
.search4 select:nth-child(2){
    width: 70px;
    margin-right: 20px;
}
.search4 select:nth-child(4){
    width: 120px;
}
.btn-primary {
    width: 50px;
    height: 26px;
    color: white;
    background: #378AC1;
    font-size: 12px;
    border-radius: 2px;
    margin-top: 12px;
    margin-left: 30px;
}
[class^=btn-] {
    text-align: center;
    outline: none;
    border: none;
    cursor: pointer;
}
.slt-down {
    padding-left: 5px;
    line-height: 20px;
    background: url(imags/slt-down.png) 90% center no-repeat;
}
.arrow{
    margin-right: 5px;
    float: left;
    width: 30px;
    height: 65px;
    font-size: 25px;
    color: #ACABAB;
    line-height: 65px;
    text-align: center;
    outline: 1px solid #DCDADC;
    background: white;
}
.data_top_2{
    width: 900px;
    height: 65px;
    margin-top: 10px;
}
.data_top_2 ul li{
    width: 110px;
    height: 65px;
    float: left;
    background-color: white;
    margin-right: 5px;
    text-align: center;
    border-top: 3px solid transparent;
    outline: 1px solid #DCDADC;
}
.data_top_2 .history1 ul li:hover{
    border-top: 3px solid rgb(47, 106, 231);
}
.data_top_2 .history1 ul li p{
    font-size: 13px;
    line-height: 30px;
    color: black;
}
.data_top_2 .history1 ul li span:nth-child(3){
    margin-left: -7px;
    font-size: 18px;
    color: #EC6602;
}
.query{
    font-size: 14px;
    margin-left: 5px;
    display:inline-block;
    padding-left: 55px;
    width: 133px;
    height: 64px;
    line-height: 60px;
    background-color: red;
    background:white url(imags/history.png) no-repeat 10px 15px;
    border: 1px solid rgb(207, 207, 207);
}
.query span{
    font-size: 14px;
    color: rgb(102, 100, 100);
}
.history2{
    margin-top: 20px;
}
.history2 p{
    margin-bottom: 5px;
    font-size: 14px;
    color: rgb(49, 48, 48);
}
.history2 ul li{
    height: 70px;
    width: 202px;
    margin-right: 30px;
    border-style: none none none solid;
    border-left-width: 3px;
    text-align: left;
    position: relative;
}
.bd_green{
    border-left-color: #43B29E;
}
.bd_yellow{
    border-left-color: #E2CD47;
}
.bd_red{
    border-left-color: #D04A37;
}
.bd_blue{
    border-left-color: #378AC1;
}

.history2>ul:last-child li{
    margin-right: 0px;
}
.history2 ul li p{
    margin-top: 10px;
    margin-left: 7px;
    color: rgb(68, 67, 67);
    font-size: 14px;

}
.history2 ul>li>div:nth-child(2){
    display: inline-block;
    width: 60px;
    height: 45px;
    position: absolute;
    right: 13px;
    top: 13px;
}
.sq_green{
    background-color: #43B29E;
}
.sq_yellow{
    background-color: #E2CD47;
}.sq_blue{
    background-color: #378AC1;
}.sq_red{
    background-color: #D04A37;
}